.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.npmrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.editorconfig
.prettierrc
.prettierignore
.github/**
**/*.gif
.vscode-test.mjs
CONTRIBUTING.md
